In [2]:
import numpy as np

In [ ]:
# Write a function to find moving average in an array over a window:
# Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [14]:
def cal_mov_avg(arr,win):
    n=len(arr)
    elmnum=n-win+1
    stint=0
    lstres=[]
    avg=0.0
    tot=0
    for i in range(elmnum):
        for j in range(stint,stint+win):
            tot=tot+arr[j]
        lstres.append(tot/win)
        stint=stint+1
        tot=0
    print(lstres)
    print(len(lstres))

In [15]:
cal_mov_avg([3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] ,3)

[5.0, 4.666666666666667, 5.666666666666667, 6.666666666666667, 9.666666666666666, 28.666666666666668, 49.333333333333336, 72.66666666666667, 84.0, 93.33333333333333, 116.33333333333333]
11

In [17]:
cal_mov_avg([10,20,30,40,50,60,70, 80, 90, 100],4)

[25.0, 35.0, 45.0, 55.0, 65.0, 75.0, 85.0]
7

In [20]:
# 1.
# How-to-count-distance-to-the-previous-zero
# For each value, count the difference back to the previous zero (or the start of the Series,
# whichever is closer)
# create a new column 'Y'
# Consider a DataFrame df where there is an integer column 'X'

In [264]:
import pandas as pd

In [123]:
def cnt_dis_Zero(dt):
    lstind=list()
    df=pd.DataFrame({'X':dt})
    cl=list()
    mindis=0
    for i,rows in df.iterrows():
        if rows[0]==0:
            lstind.append(i)
    for i in range(len(df)):
        if df.iloc[i][0]==0:
            cl.append(0)
        else:
            for j in range(len(lstind)):
                dif=abs(i-lstind[j])
                if(j==0):
                    mindis=dif
                elif dif<mindis:
                    mindis=dif
            cl.append(mindis)
           #mindis=0
    df['Y']=cl
    print(df)

In [124]:
cnt_dis_Zero([7, 2, 0, 3, 4, 2, 5, 0, 3, 4])

   X  Y
0  7  2
1  2  1
2  0  0
3  3  1
4  4  2
5  2  2
6  5  1
7  0  0
8  3  1
9  4  2

In [ ]:
# 2.
# Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
# random numbers.

In [265]:
from datetime import date 
from datetime import datetime
import datetime as dt
from pandas.tseries.offsets import *
stdate=dt.date(2015,1,1)
endate=dt.date(2015,12,31)
#np.busdaycalendar(stdate,enDate)

df2=pd.bdate_range('2015-1-1','2015-12-31',freq=BDay())

In [266]:
rndt=np.random.randint(0,len(df2),len(df2))

In [267]:
df3=pd.DataFrame(data=rndt,index=df2)

In [268]:
df3.head()

              0
2015-01-01   46
2015-01-02   76
2015-01-05  118
2015-01-06  168
2015-01-07  207

In [269]:
# 3.
# Find the sum of the values in s for every Wednesday

In [270]:
tot=0
for i in range(len(df3)):
    wkday=pd.to_datetime(df3.index.values[i]).weekday()
    if wkday==3:
        tot=tot+ df3.iloc[i][0]
print(tot)

6340

In [ ]:
# 4.
# Average For each calendar month

In [241]:
totmn=0
for j in range(1,13):
    for i in range(len(df3)):
        mnth=pd.to_datetime(df3.index.values[i]).month
        if mnth==j:
            totmn=totmn+df3.iloc[i]
avg=totmn/12
print(avg)

0    2838.833333
dtype: float64

In [271]:
# 5.
# For each group of four consecutive calendar months in s, find the date on which the highest
# value occurred.

In [272]:
maxval=0
cnt=pd.to_datetime(df3.index.values[0]).month
lstmaxval=list()
for j in range(3):
    for k in range(4):
        for i in range(len(df3)):
            mnt=pd.to_datetime(df3.index.values[i]).month
            if mnt==cnt:
                #print(cnt,mnt)
                vl=df3.iloc[i][0]
                if df3.iloc[i][0]>maxval:
                    maxval=df3.iloc[i][0]
    
        cnt=cnt+1
    lstmaxval.append(maxval)
    maxval=0
        
    
print(lstmaxval)

[259, 253, 250]